@transition: .4s ease-in-out;

@container-background-default: #fff;
@container-background-not-hovered: #f0f0f0;

@container-width-hovered: 80%;
@container-width-not-hovered: 100% - @container-width-hovered;

@base-zindex: 1000;

split-view {
  &:hover {

    & split-view-container:not(:hover) {
      width: @container-width-not-hovered;

      background: @container-background-not-hovered;

      & .split-view-deselected-overlay {
        opacity: 1;
      }

      & .split-view-header, & .split-view-container {
        opacity: 0.94;
      }
    }
  }
}

split-view-container {
  position: relative;
  overflow: hidden;

  width: 50%;

  background: @container-background-default;

  z-index: @base-zindex;

  transition: width @transition,
              background-color @transition,
              box-shadow @transition;

  &:first-child {
    z-index: @base-zindex + 1;
  }

  &:last-child {
    & .split-view-header, & .split-view-container {
      right: 0;
      float: right;
    }
  }

  &:hover {
    width: @container-width-hovered;

    box-shadow: 0 0 25px 0 #4a4848;

    z-index: @base-zindex + 2;
  }

  & .split-view-deselected-overlay {
    position: absolute;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background: #171616;
    opacity: 0;

    z-index: @base-zindex + 4;

    transition: opacity @transition;
  }

  & .split-view-header, & .split-view-container {
    position: relative;

    background: inherit;
    border: 1px solid #ddd;

    z-index: @base-zindex + 5;

    transition: opacity @transition;
  }

  & .split-view-header {
    margin-bottom: -1px;
  }

  & .split-view-container {
    margin-bottom: 0;

    & > * {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
