@transition: .4s ease-in-out;

@container-background-default: #fff;
@container-background-not-hovered: #f0f0f0;

@container-width-hovered: 85%;
@container-width-not-hovered: 100% - @container-width-hovered;

@base-zindex: 1000;

split-view {
  &:hover {

    & split-view-container:not(:hover) {
      width: @container-width-not-hovered;

      background: @container-background-not-hovered;

      & .split-view-deselected-overlay {
        opacity: 0.1;
        visibility: visible;
      }
    }
  }
}

split-view-container {
  display: block;
  position: relative;

  overflow: hidden;

  top: 0;
  left: 0;

  width: 50%;

  background: @container-background-default;

  z-index: @base-zindex;

  transition: width @transition,
              background-color @transition,
              box-shadow @transition;

  &:first-child {
    z-index: @base-zindex + 1;
  }

  &:last-child {
    left: auto;
    right: 0;

    & .split-view-header, & .split-view-container {
      right: 0;
      float: right;
    }
  }

  &:hover {
    width: @container-width-hovered;

    box-shadow: 0 0 25px 0 #4a4848;

    z-index: @base-zindex + 2;
  }

  & .split-view-deselected-overlay {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: #171616;
    opacity: 0;
    visibility: hidden;

    z-index: @base-zindex + 5;

    transition: opacity @transition,
    visibility @transition;
  }

  & .split-view-header {
    margin-bottom: -1px;
  }

  & .split-view-container {
    top: inherit;
    left: inherit;
    right: inherit;

    width: 100%;
    height: auto;

    margin-bottom: 0;

    border: 1px solid #ddd;

    & > * {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
